/* ==========================================================================
   Component: Before & Afters Grid
   ========================================================================== */

.ll-ba-bag-grid {
   background-color: var(--general-background);
}

.ll-ba-bag-grid__card-grid {
   grid-column: 2 / 3;
   display: grid;
   gap: 2rem;
   grid-template-columns: 1fr;

   @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
   }
}

.ll-ba-bag-grid__sensitive-bar {
   grid-column: 2 / 3;
   margin-bottom: 20px;
}

.ll-ba-bag-grid__pagination {
   grid-column: 2 / 3;
}