@import './typography.css';
@import './btn.css';
@import './grid.css';
@import './partials/single-post.css';
@import './partials/archive.css';
@import './partials/hero-banner.css';
@import './partials/archive-category.css';

.fit-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;

  img {
    height: 100%;
    width: 100%;
  }
}

.ll-ba__mfp-popup {
  position: relative;
  max-width: 600px;
  padding: 80px;
  margin: 0 auto;
  background-color: var(--popup-fill);
}