:root {
  --hex-codes-gunmetal: #1D2729FF;
  --hex-codes-charcoal: #494949FF;
  --hex-codes-light-grey: #CCCCCCFF;
  --hex-codes-white: #FFFFFFFF;
  --hex-codes-sand: #FCF7EFFF;
  --hex-codes-moss: #B8C2B1FF;
  --hex-codes-evergreen: #073D3DFF;
  --hex-codes-dandelion: #DDEC64FF;
  --hex-codes-sky: #C9DEDCFF;
  --hex-codes-teal: #5A7B78FF;
  --hex-codes-overlay: #00000099;
  --hex-codes-scrim: #000000CC;
}