.ba_hdg-medium {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 119%;
}

.ba_hdg-small {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}