/* ==========================================================================
   Category Archive
   ========================================================================== */

.ll-ba-archive-category {

}

.ll-ba-archive-category__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ll-ba-archive-category__header-content {

}

.ll-ba-archive-category__title {

}

.ll-ba-archive-category__description {

}

.ll-ba-archive-category__back-link {

}

.ll-ba-archive-category__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  .ll-ba-archive-category__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.ll-ba-archive-category__no-posts {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 0.875rem;
  color: #808080;
  text-align: center;
}
